
<div class='intro'>
  <h2 class='page-title'><%= @contentful_service.title %></h2>
    <% @contentful_service.introduction.split('.').each do |sentence|%>
      <p class='introduction'><%= sentence + '.' %></p>
    <%end %>
    <div id='image_container'>
      <img id='homepage_image' src=<%=@contentful_service.image.url %>>
    </div>
</div>


