<h2 class='title'><%= @contentful_service.title %></h2>
  <p class='description'><%= @contentful_service.introduction %></p>
  <div id='image_container'>
    <img id='homepage_image' src=<%=@contentful_service.image.url %>>
  </div>
