<h2 id='title'><%= @contentful_service.title %></h2>
  <p id='intro'><%= @contentful_service.introduction %></p>
  <div id='image_container'>
    <img id='homepage_image' src=<%=@contentful_service.image.url %>>
