<h2 class='page-title'>Contact Us</h2>

<p class='description'>
  If you'd like us to support a left-wing/union event, drop us a line at <%= @contentful_service.contact_email %>, or type your message below and we'll get back to you as soon as we can.
</p>

<div id='contact-form-container'>

  <form action="/get_in_touch" method="post">

    <label>Name</label>
    <input name="name" type="text" class="form-input" required>

    <label>Email Address</label>
    <input name="email" type="email" class="form-input" required>

    <label for="message">Message</label>
    <textarea name="message" class="form-input" placeholder="Write your message here" style="height:200px" required></textarea>

    <button type="submit" id="submit-button">Submit</button>

  </form>
</div> 