.page-title {
  text-align: left;
  padding-top: 0%;
 }

.description {
  text-align: left;
  margin-bottom: 1.5%;
  width: 80%;
}

.description p {
  margin-left: 0%;
  margin-right: 3%;
  padding-bottom: 1%;
}

.image_container {
  padding-top: 1%;
  text-align: center;
}

.image {
  width: 40%;
  text-align: center;
  margin: 1%;
  height: 375px;

}

@media (max-width: 768px) {
  .image {
    width: 90%;
    height: auto;
    margin: 2% auto; 
  }
}

@media (max-width: 768px) {
  .description p {
    margin-right: 0;
    margin-left: 0;
  }
}
