#description {
  text-align: left;
  align-items: center;
  margin-bottom: 2%;
  padding-left: 5%;
  width: 90%;
  margin-left: 3.5%;
}

#description p {
  margin-left: 0%;
  margin-right: 3%;
  padding-bottom: 1%;

}

.image-container {
  padding-top: 1%;
  text-align: center;
  align-items: center;
  width: 100%;
}

.image {
  width: 40%;
  text-align: center;
  margin: 1%;
  height: 375px;
}

@media (max-width: 1024px) {
  .image {
    width: 80%;
  }

  #description p {
    margin:0 auto 1% 1%;  
  }
}

@media (max-width: 768px) {
  .image {
    height: auto; 
  }

  #description p {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}
