.page-title {
  padding-top: 0;
}

.description {
  text-align: center;
  padding-top: 0.5%;
  margin-right: 10%;
  margin-left: 10%;
}

#contact-form-container {
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.form-input {
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  font-family: Mukta;
}

#submit-button {
  background-color: #ED2939;
  font-family: Mukta;
  font-size: large;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #contact-form-container {
    margin-bottom: 20px;
  }
  .form-input {
    max-width: 100%;
    padding: 5px;
    font-size: smaller;
  }

  .description {
    margin-right: 0;
    margin-left: 0;
  }

  #submit-button {
    max-width: 70px;
    max-height: 40px;
    font-size: smaller;
    padding: 4px 10px;

  }
}




