.gig {
  margin: 0 auto 2%;
  background-color: white;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  border-radius: 10px;
  color: black;
}

.upcoming-notification {
  margin-bottom: 2%;
  color: #971a16;
}

.gig-content {
  margin: 30px;
  width: 100%;
}

.gig-title {
  padding-bottom: 1.5%;
}

.gig-description {
  padding-bottom: 1.5%;
  margin-right: 30px;
}

.gig-location {
  padding-bottom:1.5%;
}
.gig-time {
  padding-bottom: 1.5%;
}

.gig-image-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 800px;
  height: auto;
}

.gig-image {
  width: 100%;
}

/* .gig-image {
  width: 410  px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center; */


.embed-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 800px;
  height: auto;
}

/* iframe {
  margin-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
  width: 600px;
} */


@media (max-width: 768px) {
  .gig {
    flex-direction: column-reverse;
    align-items: center;
    width: 95%;
  }
}

@media (max-width: 768px)  {
  .gig-content {
    max-width: 90%;
    margin: 3% 5px 10px 5px;
  }
}

@media (max-width: 768px) {
  .embed-container {
    width: 90%;
    margin: 0%;
  }
}

@media (max-width: 768px) {
  .image-container {
    width: 90%;
    margin: 0 
  }
}
    
