.gig {
  margin: 0 auto 2%;
  background-color: white;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  border-radius: 10px;
}

.upcoming-notification {
  margin-bottom: 2%;
  color: #971a16;
}

.gig-content {
  margin: 30px;
  width: 100%;
}

.gig-image {
  float: inline-start;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  align-items: left;
}

.gig-title {
  padding-bottom: 1.5%;
}

.gig-description {
  padding-bottom: 1.5%;
  margin-right: 30px;
}

.gig-location {
  padding-bottom:1.5%;
}
.gig-time {
  padding-bottom: 1.5%;
}

iframe {
  margin-left: 30px;
  height: 300px;
  width: 600px;
}
