.page-title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.description {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#homepage_image {
  width: 70%;
}

#image_container {
  text-align: center;
  margin-top: 3%;
}

@media (max-width: 768px) {
  #intro {
  margin-right: 0;
  margin-left: 0;
  }
}

@media (max-width: 768px) {
  #homepage_image {
    width: 100%;
    height: auto;
    margin: 2% auto; 
  }
}