.title {
  text-align: center;
  padding-top: 0;
}

#intro {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

#homepage_image {
  width: 50%;
}

#image_container {
  text-align: center;
  margin-top: 2%;
}

@media (max-width: 768px) {
  #intro {
  margin-right: 0;
  margin-left: 0;
  }
}

@media (max-width: 768px) {
  #homepage_image {
    width: 100%;
    height: auto;
    margin: 2% auto; 
  }
}