.page-title {
  text-align: center;
  font-size: xxx-large;
  margin-top: 30px;
  margin-bottom: 1%;
}

.introduction {
  text-align: center;
  padding-bottom: 5px;
}

#homepage_image {
  width: 65%;
  padding: 1%;
  background-color: #ffff;
}

#image_container {
  text-align: center;
  margin-top: 3%;
}

@media (max-width: 768px) {
  .description {
  width: 100%;
  }
}

@media (max-width: 768px) {
  #homepage_image {
    width: 100%;
    height: auto;
    margin: 2% auto; 
  }
}