.page-title {
  text-align: center;
  padding-top: 3%;
  margin-bottom: 1%;
  font-size: xxx-large;
}

.introduction {
  text-align: center;
  padding-bottom: 5px;
}

#homepage_image {
  width: 65%;
  padding: 1%;
  background-color: #ffff;
}

#image_container {
  text-align: center;
  margin-top: 3%;
}

@media (max-width: 1024px) {
  #homepage_image {
    width: 90%;
  }

  .introduction {
    text-align: center;
    margin: auto;
    max-width: 90%;
    font-size:x-large;
  }
}

@media (max-width: 768px) {
  .page-title {
    font-size: xx-large;
  }

  .introduction {
    width: 90%;
    font-size: medium;
  }

  #homepage_image {
    width: 90%;
    height: auto;
    margin: 2% auto; 
  }
}