#navbar {
  text-align: center;
  background-color: #ED2939;
  padding: 2.5%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;   
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.action_button {
  position: relative;
  background-color: #fffaf4;
  padding: 1%;
  text-align: center;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 5px;
  width: 15%;
  color: #7c2a45;
  font-family: Montserrat;
  font-weight: 500;
}

.action_button a {
  color: #7c2a45;
  text-decoration: none;
} 


@media (max-width: 768px) {
  .action_button {
    width: 20%;
    font-size: 8px;
    margin: 2% auto; 
  }
}