#navbar {
  margin-top: 0.5%;
  background-color: #EF0107;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#navbar-links {
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button {
  list-style-type: none;
  position: relative;
  background-color: #fffbf3;
  padding: 0.5% 0 0.5% 0;
  margin: 0 3% 0 3%;
  border-radius: 5px;
  width: 12%;
  font-size: larger;
  font-weight: bold;
}

.button a {
  color: #000000;
  text-decoration: none;
  /* padding: 13px 35px 13px 35px; */
} 

@media (max-width: 1024px) {
  .button {
    padding: 0;
    width: 20%;
  }

  #navbar {
    height: 100px;
  }

  #navbar-links {
    padding: 4.5% 0;
  }
}

@media (max-width: 768px) {
  #navbar {
    height: 15%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #navbar-links {
    padding: 4.5% 0;
  }

  .button {
    font-size: 10px;
    padding: 1% 0;
    margin: 2% auto; 
  }

  .button a {
    width: 20%;
    padding: 0;
  } 
}