#navbar {
  margin-top: 0.5%;
  background-color: #EF0107;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#navbar-links {
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;   
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.button {
  list-style-type: none;
  position: relative;
  background-color: #fffbf3;
  padding: 0.5% 0 0.5% 0;
  margin: 0 3% 0 3%;
  border-radius: 5px;
  width: 12%;
  font-size: larger;
  font-weight: bold;
}

.button a {
  color: #000000;
  text-decoration: none;
  padding: 13px 35px 13px 35px;
} 


@media (max-width: 768px) {
  .button {
    width: 20%;
    font-size: 8px;
    margin: 2% auto; 
  }

  .button a {
    color: #000000;
    text-decoration: none;
    padding: 5px 12px 5px 12px;
  } 

}