table {
  margin: 0 auto;
  font-size: 1em;
  width: 90%;
  border: 1px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-collapse: collapse;
}

#header-row {
  border: 1px solid;
}

th {
  border: 1px solid;
  border-collapse: collapse;
  padding: 1%;
  width: 250px;
}

td {
  border: 1px solid;
  padding: 1%;
}




