<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
  <footer>
    <div id='social-media-container'>
      <a id='twitter-link' href='https://twitter.com/wellredchoir'>
        <img id="twitter-icon" src=<%= asset_path('twitter_icon.png')%>>
      </a>
        <a id='facebook-link' href='https://www.facebook.com/profile.php?id=100076891658935'>
        <img id="facebook-icon" src=<%= asset_path('facebook_icon.png')%>>
      </a>
    </div>
  </footer>
