<div id='navbar'>
  <%= link_to "About Us", '/about_us', method: :get, class: "action_button" %>
  <button> Repertoir </button>
  <button> Gigs </button>
  <button> Useful Links </button>
  <button> Get In Touch </button>
</div>