<div id=navbar>
  <ul id='navbar-links'>
    <li class=button>
      <%= link_to "About Us", '/about_us', method: :get %>
    </li>
    <li class=button>
      <%= link_to "Gigs", '/gigs', method: :get %>
    </li>
    <li class=button>
      <%= link_to "Songs", '/songs', method: :get %>
    </li>
    <li class=button>
      <%= link_to "Contact", '/get_in_touch', method: :get %>
    </li>
  </ul>
</div>