<div id=navbar>
  <ul id='navbar-links'>
    <li class=button>
      <%= link_to "ABOUT", '/about_us', method: :get %>
    </li>
    <li class=button>
      <%= link_to "GIGS", '/gigs', method: :get %>
    </li>
    <li class=button>
      <%= link_to "SONGS", '/songs', method: :get %>
    </li>
    <li class=button>
      <%= link_to "CONTACT", '/get_in_touch', method: :get %>
    </li>
  </ul>
</div>